body{
    background-color: #333333;
    overflow: hidden;
}
p, label{
    color: white;
}
::-webkit-scrollbar{
    background-color: #454545;
}
::-webkit-scrollbar-thumb{
    background-color: #6c6c6c;
}
::-webkit-scrollbar-corner{
    background-color: #333333;
    box-shadow: none;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.4em;
}
a{
    text-decoration: none;
}
.youtube-popup{
    width: 100%;
    display: flex;
    justify-content: center;
    top: 33vh;
    position: fixed;
    z-index: 6;
    align-items: flex-end;
}
.youtube-popup .block{
    width: 93%;
    background-color: #212121;
    z-index: 7;
    border-radius: 0.3em;
}
.youtube-popup .block input{
    height: 97%;
    background-color: #454545;
    border: none;
    color: white;
    margin-right: 0.5em;
}
.youtube-popup .block input:focus{
    color: white;
    background-color: #2b2b2b;
    outline: none;
    box-shadow: none;
}